{% extends 'base.html.twig' %}
{% block title %}PROXGAMING
{% endblock %}
{% block body %}
	{% set size = menuInfo | length %}
	{% include '/frag/menuburger.frag.html.twig' %}
	{% include '/frag/navbar.frag.html.twig' %}

	<div class="container colCenter">
		{% set idSect = "sect" ~ indice %}
		<div id="{{ idSect }}" class="sectDiv"></div>
		{% include '/frag/section.frag.html.twig' 
				with {
					'sectionTitre': menuInfo[indice],
					'sectionCat': videoGames,
					'indice': indice,
				}
			%}
		{% include '/frag/footer.frag.html.twig' %}
		{% include '/frag/copyright.frag.html.twig' %}
	</div>
{% endblock %}
