{% include '/frag/header.frag.html.twig' %}
{% set size = menuInfo | length %}
{% for indice in 0.. size - 1 %}
	{% set idSect = "sect" ~ indice %}
	<div id="{{ idSect }}" class="sectDiv"></div>
	{% include '/frag/section.frag.html.twig' 
				with {
					'sectionTitre': menuInfo[indice],
					'sectionCat': videoGames,
					'indice': indice,
				}
			%}
{% endfor %}
