<header class="colCenter">
	<div class="hero rowCenter start">
		<div class="contImg colCenter">
			<img id="heroImg" src="/assets/media/img/alan-wake-2_key-art.avif" alt=""/>
		</div>
		<div class="vertCards colCenter">
			{% include '/frag/vertcard.frag.html.twig' with {'image': 'alan-wake-2_key-art.avif', 'titre':'alan wake 2'} %}
			{% include '/frag/vertcard.frag.html.twig' with {'image': 'the-lord-of-the-rings-return-to-moria-rxsxh.jpg', 'titre':'return to the moria'} %}
			{% include '/frag/vertcard.frag.html.twig' with {'image': 'téléchargement.jpg', 'titre':'starfield'} %}
			{% include '/frag/vertcard.frag.html.twig' with {'image': 'capsule_616x353.jpg', 'titre':'house flipper 2'} %}
		</div>
	</div>
</header>
