{% set heroPath = '/assets/media/img/' ~ videoGames[0].image %}
{% set size = videoGames | length %}
<header class="colCenter">
	<div class="hero rowCenter start">
		<div class="contImg colCenter">
			<img id="heroImg" src="{{ heroPath }}" alt=""/>
		</div>
		<div class="vertCards colCenter">
			{% for i in 0..5 %}
				{% include '/frag/vertcard.frag.html.twig' with {
					'image': videoGames[i].image, 
					'titre': videoGames[i].titre} %}
			{% endfor %}
		</div>
	</div>
</header>
