<section class="heroSection colCenter">
	<div class="imgCont">
		<img src="/assets/media/img/annonce.jpg" width="100%">
	</div>
	<div class="btnCont colCenter">
		<a href="https://www.youtube.com/watch?v=Rmux6TruAhY&list=PLKgdxV0soUO4SZMIp2srQOobCGok1aDFI&index=1" target="_blank">
			<button id="btnHero">regarder</button>
		</a>

	</div>
</section>
