{% set path = '/assets/media/img/' ~ image %}
<div class="contInfoCard">
	<div class="infoCard card left">
		<div class="contImg">
			<img src="{{ asset( path )}}" alt=""/>
		</div>
		<div class="cardContText">
			<p>{{ precision }}</p>
			<h3>{{ titre }}</h3>
			<p>{{ prix }}</p>
		</div>
	</div>
</div>
