<div class="contMenuBurger">
	<div class="navMenu rowCenter">
		{% include '/frag/logo.frag.html.twig' %}
		<i id="btnMenuBurger" class="fa-solid fa-bars"></i>
	</div>
	<div class="menuBurger">
		{% include '/frag/list.frag.html.twig' 
        with {
            'listStyle': 'colCenter',
            'sectionInfo': menuInfo
        }
    %}
	</div>
</div>
