<nav class="rowCenter">
	{% include '/frag/logo.frag.html.twig' %}
	{% include '/frag/search.frag.html.twig' %}
	{% include '/frag/list.frag.html.twig' 
        with {
            'listStyle': 'rowCenter',
        }
    %}

	<div class="logos rowCenter">
		{% include '/frag/userlogo.frag.html.twig' %}
		<a href="{{ path('panier', {'indice': -1}) }}">
			<i class="fa-solid fa-basket-shopping"></i>
		</a>
	</div>
</nav>
