{% set label = "voir" %}
{% set chemin = "page" %}

{% set currentPath = path(app.request.attributes.get('_route')) %}
{% if  currentPath != "/home" %}
	{% set label = "accueil" %}
	{% set chemin = "home" %}
{% endif %}

<section class="sect colCenter">
	{% include '/frag/btn.frag.html.twig' 
        with {
			'titre': sectionTitre, 
			'chemin': chemin,
			'indice': indice,
			'label': label,
		}
    %}

	{% set size = videoGames | length %}
	{% set currentPath = path(app.request.attributes.get('_route')) %}
	{% if  currentPath == "/home" %}
		{% set size  = 4 %}
	{% endif %}
	<div class="cards rowCenter">
		{% for jndice in 0.. size - 1 %}
			{% include '/frag/infocard.frag.html.twig' with {
					'image':sectionCat[jndice].image, 
					'precision': sectionCat[jndice].description,
					'titre':sectionCat[jndice].titre,
					'prix':sectionCat[jndice].prix ~ '€'
					}
				%}
		{% endfor %}
	</div>
</section>
