{% extends 'base.html.twig' %}
{% block title %}
	PROXGAMING
{% endblock %}
{# {% block javascript %}
	<script src="/assets/script/script.js" defer></script>
{% endblock %} #}
{% block body %}
	{% include '/frag/menuburger.frag.html.twig' %}
	{% include '/frag/navbar.frag.html.twig' %}
	{% include '/frag/hero.frag.html.twig' %}
	<div class="container colCenter">
		{% block container %}
			{% include '/frag/container.frag.html.twig' %}
		{% endblock %}
		{% include '/frag/footer.frag.html.twig' %}
		{% include '/frag/copyright.frag.html.twig' %}
	</div>
{% endblock %}
